body {
  margin: 0;
  background: transparent;
}

.widget {
  -webkit-app-region: drag;
  background: rgba(20, 20, 20, 0.874);
  backdrop-filter: blur(10px);
  color: white;
  font-family: sans-serif;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.12rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.lbl {
  margin-left: 0.4rem;
}
.rows {
  display: flex;
  flex-direction: column;
  gap: 0.12rem;
}

.stat {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  gap: 0.56rem;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1rem;
  gap: 0.12rem;
}

.value {
  position: absolute;
  right: 5%;
}
.icon {
  width: 45px;
  height: 45px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
}

.cpu {
  display: inline-block;
  width: 32px;
  height: 32px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath stroke-linecap='round' d='M9.5 2v2m5-2v2m-5 16v2m5-2v2m7.5-7.5h-2m-16-5H2m2 5H2m20-5h-2m-7.306-1l-2.091 2.537c-.224.272-.064.663.302.736l2.19.434c.39.077.538.51.266.774L10.767 15.5'/%3E%3Cpath d='M4 12c0-3.771 0-5.657 1.172-6.828S8.229 4 12 4s5.657 0 6.828 1.172S20 8.229 20 12s0 5.657-1.172 6.828S15.771 20 12 20s-5.657 0-6.828-1.172S4 15.771 4 12Z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.ram {
  display: inline-block;
  width: 32px;
  height: 32px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2 12.5a2 2 0 1 0 0-4c0-1.404 0-2.107.337-2.611a2 2 0 0 1 .552-.552C3.393 5 4.096 5 5.5 5h13c1.404 0 2.107 0 2.611.337a2 2 0 0 1 .552.552C22 6.393 22 7.096 22 8.5a2 2 0 1 0 0 4c0 1.405 0 2.107-.337 2.611a2 2 0 0 1-.552.552C20.607 16 19.904 16 18.5 16h-13c-1.404 0-2.107 0-2.611-.337a2 2 0 0 1-.552-.552C2 14.607 2 13.904 2 12.5M4 16v2a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-2m4 0v2a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-2m-8-7v3m4-3v3M8 9v3'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
