body {
  margin: 0;
  background: transparent;
}

.widget {
  -webkit-app-region: drag;
  background: rgba(20, 20, 20, 0.7);
  backdrop-filter: blur(10px);
  color: white;
  font-family: sans-serif;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
